{% extends "base.html" %} 

{% block content %}

    <section>
        <h2 class="text-xl mb-2"> Meds</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Prescription Id</th>
                    <th class="px-4 py-2">Appointment Id</th>
                    <th class="px-4 py-2">Prescribing Provider Id</th>
                    <th class="px-4 py-2">Medication Name</th>
                    <th class="px-4 py-2">Dosage</th>
                    <th class="px-4 py-2">Instructions</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data.values %}
                <tr>
                    <td class="border px-4 py-2">{{ data[0] }}</td>
                    <td class="border px-4 py-2">{{ data[1] }}</td>
                    <td class="border px-4 py-2">{{ data[2] }}</td>
                    <td class="border px-4 py-2">{{ data[3] }}</td>
                    <td class="border px-4 py-2">{{ data[4] }}</td>
                    <td class="border px-4 py-2">{{ data[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}