{% extends "base.html" %} 

{% block content %}

##
db_host = '4.227.178.200'
user = 'alexa'
password='rada2023'
database='MedBooking'

## using mysql+pymysql
engine = create_engine(f"mysql+pymysql://{user}:{password}@{db_host}/{database}")

## get tables from database
sql_query_1 = "SHOW TABLES"
tables = pd.read_sql(sql_query_1, engine)


    <section>
        <h2 class="text-xl mb-2"> Dataset preview using a TABLE in HTML</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Patient Id</th>
                    <th class="px-4 py-2">Firs Name</th>
                    <th class="px-4 py-2">Last Name</th>
                    <th class="px-4 py-2">Date Of Birh</th>
                    <th class="px-4 py-2">Gender</th>
                    <th class="px-4 py-2">Phone Number</th>
                    <th class="px-4 py-2">Insurance Provider</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data.values %}
                <tr>
                    <td class="border px-4 py-2">{{ data[0] }}</td>
                    <td class="border px-4 py-2">{{ data[1] }}</td>
                    <td class="border px-4 py-2">{{ data[2] }}</td>
                    <td class="border px-4 py-2">{{ data[3] }}</td>
                    <td class="border px-4 py-2">{{ data[4] }}</td>
                    <td class="border px-4 py-2">{{ data[5] }}</td>
                    <td class="border px-4 py-2">{{ data[6] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}